.features {

  &__wrapper {
    min-height: 585px;
    padding: 0 size(70, 0);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left size(70, 0) center;
  }

  &__content {
    max-width: 470px;
    background-color: rgba($white, 0.85);
    align-self: flex-end;
  }

  &__title {
    margin-bottom: 30;
    text-align: left;
  }

  &__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    color: $darkBlue-900;
    justify-content: flex-start;
    gap: 30px;

    &::before {
      min-width: 34px;
      height: 34px;
    }
  }

  &__btn {
    max-width: fit-content;
  }
}