.features {

  &__wrapper {
    min-height: size(585, 462);
    padding: 0 size(70, 0);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left size(70, 0) center;
  }

  &__content {
    max-width: 470px;
    padding: 25px 0 31px;
    background-color: rgba($white, 0.85);
    align-self: flex-end;
  }

  &__title {
    margin-bottom: 30;
    text-align: left;
  }

  &__description {
    font-size: size(20, 18);
    line-height: 1.5;
    margin-bottom: size(30, 20);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: size(30, 20);
  }

  &__item {
    font-size: size(24, 18);
    line-height: 1.5;
    color: $darkBlue-900;
    justify-content: flex-start;
    gap: size(30, 10);

    &::before {
      min-width: 34px;
      height: 34px;
    }
  }

  &__btn {
    max-width: fit-content;
  }
}