.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $silver-100;
  padding: size(60, 14) 0;
  border-bottom: 3px solid transparent;
  transition: padding .3s ease-in-out, border-color 0.3s ease-in-out;

  &.sticky {
    border-color: $orange-900;
    padding: 15px 0;
    background-color: $white;
    z-index: 10;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($dark, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    transition: opacity 0.3s ease-in-out;
  }

  @at-root .lock {
    overflow: hidden;

    .header {
      &::before {
        @include r($size-md) {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__menu {
    @include r($size-md) {
      display: none;
    }
  }

  &__logo {
    @include r($size-xs) {
      width: 115px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 30px;

    @include r($size-md) {
      margin-left: auto;
    }
  }

  &__btn {
    &:hover {
      .btn-counter {
        color: $orange-900;
        background-color: $white;
      }
    }

    &:active {
      .btn-counter {
        color: $white;
        background-color: $orange-900;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }
}