<section class="section app mb-120" style="background-image: url(../../images/content/get_app.jpg);">
  <div class="container">
    <div class="app__wrapper">
      <h2 class="title app__title">
        Завантажте мобільний застосунок
      </h2>
      <div class="app__text">
        <p>
          Ресторани, які ви любите - у ваших руках. Встановлюйте застосунок та замовляйте їжу в зручному місці в зручний час
        </p>
      </div>
      <div class="app__links">
        <a class="app__link" href="#" style="background-image: url(../../images/content/app_store.png);">
          <div class="sr-only">Завантажити додаток в AppStore</div>
        </a>
        <a class="app__link app__link--google" href="#" style="background-image: url(../../images/content/play_store.png);">
          <div class="sr-only">Завантажити додаток у GooglePlay</div>
        </a>
      </div>
    </div>
  </div>
</section>