<section class="section app mb-120" style="background-image: url(../../images/content/get_app.jpg);">
  <h2 class="sr-only">Застосунки Simple Food для шкидкого та зручного замовлення їжї</h2>
  <div class="container">
    <div class="app__wrapper">
      <div class="title app__title">
        Завантажте мобільний застосунок
      </div>
      <div class="app__text">
        <p>Ресторани, які ви любите - у ваших руках.</p>
        <p>Встановлюйте застосунок та замовляйте їжу в зручному місці в зручний час</p>
      </div>
      <ul class="app__links">
        <li class="app__item">
          <a class="app-icon icon app-icon--apple" href="#" style="background-image: url(../../images/content/app_store.png);" target="_blank">
            <span class="sr-only">Завантажити додаток в AppStore</span>
          </a>
        </li>
        <li class="app__item">
          <a class="app-icon icon app-icon--google" href="#" style="background-image: url(../../images/content/play_store.png);" target="_blank">
            <span class="sr-only">Завантажити додаток у GooglePlay</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>