<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="../../images/logo.svg" alt="site logo" width="200" height="39">
        </a>
        <form class="subscribe">
          <div class="subscribe__item">
            <label class="subscribe__title" for="email">
              <div class="sr-only">Вписати e-mail</div>
            </label>
            <input class="subscribe__field" type="text" id="email" placeholder="Ваш email" required="required">
          </div>
          <button class="btn subscribe__btn" type="submit">Підписатися</button>
        </form>
      </div>
      <ul class="footer__menu">
        <li class="footer__menu-link">Як це працює</li>
        <li class="footer__menu-link">Продукти</li>
        <li class="footer__menu-link">Страви</li>
        <li class="footer__menu-link">Меню</li>
        <li class="footer__menu-link">Про нас</li>
        <li class="footer__menu-link">Новини</li>
        <li class="footer__menu-link">Партнери</li>
        <li class="footer__menu-link">ЧаПи</li>
        <li class="footer__menu-link">Застосунок</li>
        <li class="footer__menu-link">Блог</li>
        <li class="footer__menu-link">Що нового?</li>
        <li class="footer__menu-link">Мапа сайту</li>
      </ul>
      <adress class="contacts">
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="adress" href="#">вул. Т.Г.Шевченка, 1</a>
          </li>
          <li class="contacts__item contacts__item--tel">
            <a class="phone" href="tel:+380501112233">380501112233</a>
          </li>
          <li class="contacts__item contacts__item--mail">
            <a class="email" href="mailto:support@sfood.com">support@sfood.com</a>
          </li>
        </ul>
        <ul class="contacts__social">
          <li class="contacts__social-item">
            <a class="contacts__social-link" href="#"
              style="background-image: url('../../images/sprite.svg#icon-facebook');">
              <span class="sr-only">Перейти до Фейсбук</span>
            </a>
          </li>
          <li class="contacts__social-item">
            <a class="contacts__social-link" href="#"
              style="background-image: url('../../images/sprite.svg#icon-twitter');">
              <span class="sr-only">Перейти до Твіттер</span>
            </a>
          </li>
          <li class="contacts__social-item">
            <a class="contacts__social-link" href="#"
              style="background-image: url('../../images/sprite.svg#icon-instagram');">
              <span class="sr-only">Перейти до Інстаграм</span>
            </a>
          </li>
        </ul>
      </adress>
    </div>
  </div>
  <div class="copy">
    <a class="copy__link" href="#">© 2023 Simple Food</a>
  </div>
</footer>