<header class="header">
  <div class="container">
      
      <nav class="header__nav">
        <a class="logo" href="#">
          <img class="logo__img" src="../../images/logo.svg" alt="site logo" width="200" height="39">
        </a>
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link menu__link--current" href="#">Головна</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Страви</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакти</a>
          </li>
        </ul>
        <div class="header__action">
          <button class="btn-sm icon icon--search" type="button">
            <span class="sr-only">Шукати товари</span>
          </button>
          <button class="btn-sm icon icon--сart header__btn" type="button">
            <span class="sr-only">
              Переглянути кошик. Кількість товарів у кошику:
            </span>
            <span class="btn-counter">4</span>
          </button>
        </div>
      </nav>
  </div>
</header>