<section class="section categories">
  <div class="container">
    <h2 class="title">
      Популярне в категоріях
    </h2>
    <ul class="categories-filter">
      <li class="categories-filter__item" data-filter=".category-burger">
        <button class="categories-filter__btn categories-filter__btn--current" type="button">Бургери</button>
      </li>
      <li class="categories-filter__item" data-filter=".category-pizza">
        <button class="categories-filter__btn categories-filter__btn--pizza" type="button">Піца</button>
      </li>
      <li class="categories-filter__item" data-filter=".category-sandwich">
        <button class="categories-filter__btn categories-filter__btn--sandwich" type="button">Сендвічі</button>
      </li>
      <li class="categories-filter__item" data-filter=".category-asia">
        <button class="categories-filter__btn categories-filter__btn--asian" type="button">Азійська кухня</button>
      </li>
      <li class="categories-filter__item" data-filter=".category-dish">
        <button class="categories-filter__btn categories-filter__btn--sets" type="button">Cети</button>
      </li>
    </ul>
    <ul class="categories__wrapper">
      <li class="categories__item mix category-burger">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item1.jpg" alt="Чізбургер з листям салату">
            <h3 class="product-card__name">Чізбургер з листям салату</h3>
          </a>
          <span class="product-card__price">160 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-pizza">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item2.jpg" alt="Біфбургер">
            <h3 class="product-card__name">Біфбургер</h3>
          </a>
          <span class="product-card__price">190 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-asia">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item3.jpg" alt="Королівський чізбургер">
            <h3 class="product-card__name">Королівський чізбургер</h3>
          </a>
          <span class="product-card__price">260 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-sandwich">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item4.jpg" alt="Чорний гамбургер">
            <h3 class="product-card__name">Чорний гамбургер</h3>
          </a>
          <span class="product-card__price">199 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-dish">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item5.jpg" alt="Чікен бургер">
            <h3 class="product-card__name">Чікен бургер</h3>
          </a>
          <span class="product-card__price">180 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-burger">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item1.jpg" alt="Чізбургер з листям салату">
            <h3 class="product-card__name">Чізбургер з листям салату</h3>
          </a>
          <span class="product-card__price">160 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-sandwich">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item2.jpg" alt="Біфбургер">
            <h3 class="product-card__name">Біфбургер</h3>
          </a>
          <span class="product-card__price">190 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-pizza">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item3.jpg" alt="Королівський чізбургер">
            <h3 class="product-card__name">Королівський чізбургер</h3>
          </a>
          <span class="product-card__price">260 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-sandwich">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item4.jpg" alt="Чорний гамбургер">
            <h3 class="product-card__name">Чорний гамбургер</h3>
          </a>
          <span class="product-card__price">199 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories__item mix category-asia">
        <article class="product-card">
          <a href="" class="profuct-card__link">
            <img class="product-card__img" src="../../images/catalog/item5.jpg" alt="Чікен бургер">
            <h3 class="product-card__name">Чікен бургер</h3>
          </a>
          <span class="product-card__price">180 грн.</span>
          <button class="product-card__btn" type="button">До кошика</button>
        </article>
      </li>
    </ul>
    <a class="link popular__link" href="#">Показати ще</a>
  </div>
</section>